In [1]:
import pandas as pd

FIRST TASK - Is there a company that has no difference between the Close and Adj Close columns?

In [15]:
df_A = pd.read_csv('A.csv') #it does not contain the same columns

In [16]:
df_A

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,67.389999,66.250000,66.449997,67.129997,1536400.0,64.595924
1,2017-11-14,67.800003,66.889999,66.980003,67.459999,2426200.0,64.913490
2,2017-11-15,67.559998,66.910004,67.290001,67.309998,2042300.0,64.769135
3,2017-11-16,68.949997,67.449997,67.500000,68.739998,2300400.0,66.145172
4,2017-11-17,69.089996,68.290001,68.529999,68.790001,1823100.0,66.193275
...,...,...,...,...,...,...,...
1254,2022-11-07,138.080002,135.559998,136.850006,138.029999,1213600.0,138.029999
1255,2022-11-08,140.690002,136.600006,138.500000,138.750000,1028100.0,138.750000
1256,2022-11-09,139.419998,136.660004,138.309998,137.000000,971200.0,137.000000
1257,2022-11-10,146.720001,142.529999,142.869995,146.300003,1591900.0,146.300003
1258,2022-11-11,149.740005,146.350006,147.119995,148.309998,1227500.0,148.309998

In [10]:
df['Close'].equals(df['Adj Close'])

False

In [17]:
df_CINF = pd.read_csv('CINF.csv') #it does not contain the same columns

In [18]:
df_CINF

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-11-13,73.669998,73.010002,73.260002,73.300003,674000.0,63.926807
1,2017-11-14,74.129997,72.690002,73.080002,74.059998,438600.0,64.589600
2,2017-11-15,74.519997,73.400002,73.940002,74.110001,455900.0,64.633209
3,2017-11-16,74.290001,73.290001,74.169998,73.589996,630000.0,64.179688
4,2017-11-17,73.919998,73.160004,73.919998,73.459999,2572300.0,64.066315
...,...,...,...,...,...,...,...
1254,2022-11-07,102.430000,99.370003,99.900002,102.430000,667200.0,102.430000
1255,2022-11-08,103.290001,101.500000,102.040001,103.150002,682300.0,103.150002
1256,2022-11-09,103.150002,101.279999,102.540001,101.489998,408400.0,101.489998
1257,2022-11-10,107.699997,103.620003,104.389999,107.550003,989600.0,107.550003
1258,2022-11-11,110.500000,106.989998,108.000000,110.089996,1041800.0,110.089996

In [13]:
df['Close'].equals(df['Adj Close'])

False

In [24]:
df_CMG = pd.read_csv('CMG.csv') #it contains the same columns

In [21]:
df['Close'].equals(df['Adj Close'])

True

In [34]:
df_LMT = pd.read_csv('LMT.csv') #it does not contain the same columns

In [23]:
df['Close'].equals(df['Adj Close'])

False

SECOND TASK - What is the highest and lowest price (Adj Close) each company recorded?

In [27]:
df_A["Adj Close"].min()

59.09390640258789

In [28]:
df_A["Adj Close"].max()

177.9176025390625

In [29]:
df_CINF["Adj Close"].min()

45.48640441894531

In [30]:
df_CINF["Adj Close"].max()

139.4536895751953

In [32]:
df_CMG["Adj Close"].min()

251.3300018310547

In [33]:
df_CMG["Adj Close"].max()

1944.050048828125

In [35]:
df_LMT["Adj Close"].min()

224.6717529296875

In [36]:
df_LMT["Adj Close"].max()

494.1199951171875

FOURTH TASK - When did each company record the highest gain and highest loss for the day?
(logarithmic loss).

In [42]:
print(df_A[['Open', 'Close']].idxmax())

Open     959
Close    958
dtype: int64

In [43]:
print(df_CINF[['Open', 'Close']].idxmax())

Open     1116
Close    1115
dtype: int64

In [44]:
print(df_CMG[['Open', 'Close']].idxmax())

Open     972
Close    971
dtype: int64

In [45]:
print(df_LMT[['Open', 'Close']].idxmax())

Open     1256
Close    1255
dtype: int64

THIRD TASK - Calculate logarithmic returns from Adj Close. For each company report on
its, min, man, mean, median of the return distribution.

In [46]:
import numpy as np

In [47]:
df_A['logarithm_base2'] = np.log2(df_A['Adj Close'])

In [48]:
print(df_A)

            Date        High         Low        Open       Close     Volume  \
0     2017-11-13   67.389999   66.250000   66.449997   67.129997  1536400.0
1     2017-11-14   67.800003   66.889999   66.980003   67.459999  2426200.0
2     2017-11-15   67.559998   66.910004   67.290001   67.309998  2042300.0
3     2017-11-16   68.949997   67.449997   67.500000   68.739998  2300400.0
4     2017-11-17   69.089996   68.290001   68.529999   68.790001  1823100.0
...          ...         ...         ...         ...         ...        ...
1254  2022-11-07  138.080002  135.559998  136.850006  138.029999  1213600.0
1255  2022-11-08  140.690002  136.600006  138.500000  138.750000  1028100.0
1256  2022-11-09  139.419998  136.660004  138.309998  137.000000   971200.0
1257  2022-11-10  146.720001  142.529999  142.869995  146.300003  1591900.0
1258  2022-11-11  149.740005  146.350006  147.119995  148.309998  1227500.0

       Adj Close  logarithm_base2
0      64.595924         6.013371
1      64.913490         6.020446
2      64.769135         6.017235
3      66.145172         6.047564
4      66.193275         6.048613
...          ...              ...
1254  138.029999         7.108838
1255  138.750000         7.116344
1256  137.000000         7.098032
1257  146.300003         7.192786
1258  148.309998         7.212472

[1259 rows x 8 columns]

In [ ]:
df_CINF['logarithm_base2'] = np.log2(df_CINF['Adj Close'])

In [ ]:
df_CMG['logarithm_base2'] = np.log2(df_CMG['Adj Close'])

In [ ]:
df_LMT['logarithm_base2'] = np.log2(df_LMT['Adj Close'])

In [51]:
df_A['logarithm_base2'].median()

6.419175309740473

In [ ]:
df_CINF['logarithm_base2'].median()

In [ ]:
df_CMG['logarithm_base2'].median()

In [ ]:
df_LMT['logarithm_base2'].median()

In [52]:
df_A['logarithm_base2'].mean()

6.5505139705483515

In [ ]:
df_CINF['logarithm_base2'].mean()

In [ ]:
df_CMG['logarithm_base2'].mean()

In [ ]:
df_LMT['logarithm_base2'].mean()